:root {
	--container-width: 1138px;
	--container-padding: 15px;

	--font-main: "Hind Siliguri", sans-serif;
	--light: 300;
	--regular: 400;
	--medium: 500;
	--semibold: 600;
	--bold: 700;
	--font-style: normal;

	--page-bg: #FFFFFF;
	--text-color: #000;
	--sub-text: #BDBDBD;
	--accent: #FF7235;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}